*{
  padding: 0;
  margin: 0;
}
h1 {
  padding: 30px;
  text-align: center;
}
h2 {
  padding: 20px;
  text-align: center ;
}
body {
  background-color: aquamarine;
}
.fondo{
  background-color: brown;
  padding: auto;
  margin: auto;
  width: 400px;
  height: 500px;
}
form {
  text-align: center;
}
ul {
  text-align: left;
  list-style: none;
}
ul li{
  padding: 10px;
}

output{
  background-color: white;
}

/*Buscador de contenido*/

#box-searchColonias{
  position: absolute;
  margin-left: 60px;
  width: 250px;
  background-color: white;
  display: none;
  z-index: 3;
}

#box-searchCodigos{
  position: absolute;
  margin-left: 100px;
  width: 140;
  background-color: white;
  display: none;
  z-index: 2;
}
#box-searchCodigos li:hover {
  background-color: aqua;
}
#box-searchCodigos li {
  padding: auto;
}
#cover-box-search{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0,0.5);
  display: none;
  z-index: 1;
}
#box-searchCiudad{
  position: absolute;
  margin-left: 55px;
  width: 140;
  background-color: white;
  display: none;
  z-index: 3  ;
}

#box-searchCiudad li:hover {
  background-color: aqua;
}

#box-searchCalles{
  position: absolute;
  margin-left: 55px;
  width: 140;
  background-color: white;
  display: none;
  z-index: 3  ;
}